*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 30px;
}
.cell{
    width: 100px;
    height: 100px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    text-align: center;
    line-height: 100px;
    font-size: 100px;
    cursor: pointer;
}

button{
    margin: 10px;
    width: 200px;
    border-radius: 20px;
}