*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(315deg,#D741A7,#3A1772, #5398BE,#F2CD5D,#DEA54B);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    mix-blend-mode: color-burn;
}
.container{
    border: 5px solid white;
    background:transparent;
    border-radius: 100px;
    width: 650px;
    height: 600px;
    padding: 28px;
}

.title{
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}

.result{
    text-align: center;
    padding: 30px 0;
}



.iconContainer{
    border: 5px solid;
    border-radius: 70px;
    width: 610px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.playerIcon{
    width: 250px;
    height: 250px;
}

.comIcon{
    width: 250px;
    height: 250px;
}

.details{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.controls{
    width: 250px;
    height: 160px;
    padding: 10px;
}

button{
    background-color:#5398BE;
    width: 250px;
    height: 35px;
    margin: 8px 0;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
}

button:hover{
    background-color: #F2CD5D;
    border: 3px solid;
}

.stats{
    width: 250px;
    height: 150px;
    padding: 8px;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}

p{
    margin: 5px;
}